<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Admin</li>
    </ol>
</nav>

<div>
    @if (await User.HasPermissionAsync(SyncSoft.StylesDelivered.Constants.AllowAdmin))
    {
        <a class="btn btn-outline-secondary btn-lg btn-block" href="~/admin/service">Service</a>
    }
    <a class="btn btn-outline-secondary btn-lg btn-block" href="~/admin/product">Product</a>
    <a class="btn btn-outline-secondary btn-lg btn-block" href="~/admin/order">Order</a>
    <a class="btn btn-outline-secondary btn-lg btn-block" href="~/admin/review">Review</a>
    @*<a class="btn btn-outline-secondary btn-lg btn-block" href="~/admin/user">User</a>*@
</div>