<template id="item-box">
    <div class="row no-gutters">
        <div class="col-md-2">
            <img v-bind:src="item.imageUrl" class="card-img-top" alt="..." />
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{item.productName}}</h5>
                <p class="card-text">{{item.description}}</p>
                <p class="card-text"><small class="text-muted">Listed on {{createdTime(item)}}</small></p>
                <div class="form-row">
                    <div class="col-md-2">
                        <label>Size:</label>
                        <select class="custom-select" v-model="selectedSize" v-on:change="onChangeList('size', selectedSize)">
                            <option v-for="size in sizeList" v-bind:value="size">{{size}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Color:</label>
                        <select class="custom-select" v-model="selectedColor" v-on:change="onChangeList('color', selectedColor)">
                            <option v-for="color in colorList" v-bind:value="color">{{color}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <p class="col-md-12 text-right"><a href="#" class="btn btn-primary">Apply</a></p>
                </div>
            </div>
        </div>
    </div>
</template>