<template id="item-box">
    <div class="row no-gutters">
        <div class="col-md-2 d-inline-flex flex-wrap align-content-center p-2">
            <img v-bind:src="item.imageUrl" class="card-img-top" alt="..." />
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{item.productName}}</h5>
                <div class="form-row card-text">
                    <div class="col-md-4" v-if="sizeList.length > 0">
                        <label>Size:</label>
                        <select class="custom-select custom-select-sm" aria-label="Sizes" v-model="selectedSize" v-on:change="onSizeChange(selectedSize)">
                            <option v-for="size in sizeList" v-bind:value="size">{{size}}</option>
                        </select>
                    </div>
                    <div class="col-md-4" v-if="colorList.length > 0">
                        <label>Color:</label>
                        <select class="custom-select custom-select-sm" aria-label="Colors" v-model="selectedColor">
                            <option v-for="color in colorList" v-bind:value="color">{{color}}</option>
                        </select>
                    </div>
                    <div class="col-auto ml-auto">
                        <label class="invisible">.</label>
                        <button type="button" class="btn btn-sm btn-primary form-control" v-on:click="applyItem()">Apply</button>
                    </div>
                </div>
                <p class="card-text mt-3">{{item.description}}</p>
            </div>
        </div>
    </div>
</template>

<!-- AddressList Modal START-->
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel">Please enter a shipping address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" v-model="address.shipping_Address1" placeholder="Address1" maxlength="100" required />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="address.shipping_Address2" placeholder="Address2" maxlength="200" />
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" v-model="address.shipping_City" placeholder="City" maxlength="50" required />
                    </div>
                    <div class="form-group col-md-4">
                        <select class="form-control" aria-label="States" v-model="address.shipping_State">
                            <option disabled value="">State</option>
                            <option v-for="state in states" v-bind:value="state.code">{{state.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" v-model="address.shipping_ZipCode" placeholder="ZipCode" maxlength="15" required />
                    </div>
                </div>
                <hr />
                <div class="addrBtnBox">
                    <div class="card addrBtn" v-for="item in addresses">
                        <a href="javascript:;" v-on:click="select(item)">
                            <div class="card-body">
                                <p class="card-text addr">{{item.address1}}<br />{{item.address2}}<br /></p>
                                <p class="card-text">{{item.city}}<br />{{item.state}} {{item.zipCode}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="clearBtn" v-on:click="clear">Clear</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" v-on:click="apply()">Apply</button>
            </div>
        </div>
    </div>
</div>
<!-- AddressList Modal END-->