<template id="item-box">
    <div class="row no-gutters">
        <div class="col-md-2">
            <img v-bind:src="item.imageUrl" class="card-img-top" alt="..." />
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{item.productName}}</h5>
                <p class="card-text">{{item.description}}</p>
                <p class="card-text"><small class="text-muted">Listed on {{createdTime(item)}}</small></p>
                @*<div class="row">
                        <div class="col-md-2">
                            <label>Size:</label>
                            <select name="p" size="1" title="Size" class="custom-select">
                                <option value="%">-All-</option>
                                <option value="TEST">Lorem ipsum dolor sit amet</option>
                                <option value="TEST2">Lorem ipsum dolor sit amet, consectetur amet</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>Color:</label>
                            <select name="p" size="1" title="Size" class="custom-select">
                                <option value="%">-All-</option>
                                <option value="TEST">Lorem ipsum dolor sit amet</option>
                                <option value="TEST2">Lorem ipsum dolor sit amet, consectetur amet</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <p class="col-md-12 text-right"><a href="#" class="btn btn-primary">Apply</a></p>
                    </div>*@
            </div>
        </div>
    </div>
</template>