<template id="item-box">
    <div class="row no-gutters">
        <div class="col-md-2 d-inline-flex flex-wrap align-content-center p-2">
            <img v-bind:src="item.imageUrl" class="card-img-top " alt="..." />
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{item.productName}}</h5>
                <div class="form-row card-text">
                    <div class="col-md-4" v-if="sizeList.length > 0">
                        <label>Size:</label>
                        <select class="custom-select custom-select-sm" v-model="selectedSize" v-on:change="onSizeChange(selectedSize)">
                            <option v-for="size in sizeList" v-bind:value="size">{{size}}</option>
                        </select>
                    </div>
                    <div class="col-md-4" v-if="colorList.length > 0">
                        <label>Color:</label>
                        <select class="custom-select custom-select-sm" v-model="selectedColor">
                            <option v-for="color in colorList" v-bind:value="color">{{color}}</option>
                        </select>
                    </div>
                    <div class="col-auto ml-auto">
                        <label class="invisible">.</label>
                        <button type="button" class="btn btn-sm btn-primary form-control" v-on:click="applyItem()">Apply</button>
                    </div>
                </div>
                <p class="card-text mt-3">{{item.description}}</p>
            </div>
        </div>
    </div>
</template>