@model string
<div id="app">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Admin</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Order</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detail</li>
        </ol>
    </nav>

    <form>
        <div class="row">
            @*<div class="col-md-6">
                    <label for="OrderNo" class="font-weight-bold">OrderNo</label>
                    <p id="OrderNo">{{order.orderNo}}</p>
                </div>*@
            <div class="col-md-4">
                <label class="font-weight-bold">User</label>
                <p>{{order.user}}</p>
            </div>
            <div class="col-md-4">
                <label class="font-weight-bold">Status</label>
                <p>{{order.status}}</p>
            </div>
            <div class="col-md-4">
                <label class="font-weight-bold">CreatedOnUtc</label>
                <p>{{order.createdOnUtc}}</p>
            </div>
        </div>
        <div class="row" v-bind:hidden="!order.isAddress">
            <div class="col-md-4">
                <label class="font-weight-bold">Shipping Address</label>
                <p>{{order.fullAddress}}</p>
            </div>
        </div>

        <hr />

        <label class="font-weight-bold mb-3">Items</label>
        <table id="itemsTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th class="all"></th>
                    <th class="all">SKU</th>
                    <th class="all">ASIN</th>
                    <th class="min-desktop">Alias</th>
                    <th class="min-desktop">Color</th>
                    <th class="min-desktop">Size</th>
                    <th class="min-desktop">Qty</th>
                </tr>
            </thead>
        </table>
    </form>

</div>


@section Scripts{
    <script>@(Html.RenderEnumJson<SyncSoft.StylesDelivered.Enum.Order.OrderStatusEnum, int>())</script>
    <script>var orderNoParam='@Model';</script>
    <partial name="Script" model='"admin/order/detail"' />
}
