<div id="app">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/">Home</a></li>
            <li class="breadcrumb-item"><a>Admin</a></li>
            <li class="breadcrumb-item"><a asp-action="Items">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page" v-text="title"></li>
        </ol>
    </nav>

    <FORM class="dropzone dz-clickable needsclick" id="mydropzone" action="/upload">
        <DIV class="dz-message needsclick">
            Drop files here or click to upload.<BR>
            <SPAN class="note needsclick">
                (This is just a demo dropzone. Selected
                files are <STRONG>not</STRONG> actually uploaded.)
            </SPAN>
        </DIV>
    </FORM>
    <br>

    <form onsubmit="return saveVM.save();">
        <div class="form-row">
            <div class="form-group col-md-6">
                <img id='productItemImg' v-bind:src="productItem.imageUrl" style="width:300px;height:300px;" />
            </div>
            <div class="form-group col-md-6">
                <label for="itemNo">ItemNo</label>
                <input type="text" class="form-control" v-model="productItem.itemNo" placeholder="ItemNo" :readonly="itemNo != ''">
                <label for="productName">ProductName</label>
                <input type="text" class="form-control" v-model="productItem.productName" placeholder="ProductName">
                <label for="invQty">Inv Qty</label>
                <input class="form-control" type="number" v-model="productItem.invQty">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group  col-md-12">
                <label for="description">Description</label>
                <textarea class="form-control" v-model="productItem.description" rows="4" placeholder="Description"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<style>
    .dropzone, .dropzone * {
        box-sizing: border-box !important;
    }

    .dz-description input {
        margin-top: 5px;
        width: 120px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: solid 1px #CCC;
        padding: 5px;
    }
</style>

@section Scripts{
    <partial name="Script" model='"admin/product/save"' />
}