<div id="app">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Admin</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page" v-text="title"></li>
        </ol>
    </nav>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="product-tab" data-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="true">Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="items-tab" data-toggle="tab" href="#items" role="tab" aria-controls="items" aria-selected="false">Items</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="product" role="tabpanel" aria-labelledby="product-tab">
            <form onsubmit="return saveVM.save();">
                <div class="form-row mt-2">
                    <div class="col-xs-12 col-md-4 d-flex flex-wrap align-content-center img_center">
                        <div v-if="isNew">
                            <h6 class="text-center align-middle">Save to Upload Image</h6>
                        </div>
                        <div v-else>
                            <img class="rounded img-fluid pointer" data-toggle="modal" data-target="#uploadModal"
                                 v-bind:src="product.imageUrl" v-bind:alt="product.productName" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-8 d-flex flex-wrap align-content-bottom">
                        <label for="asin">ASIN</label>
                        <input type="text" class="form-control" v-model="product.asin" placeholder="ASIN" v-bind:readonly="!isNew" required>
                        <label for="productName">ProductName</label>
                        <input type="text" class="form-control" v-model="product.productName" placeholder="ProductName" required>
                        <label for="description">Description</label>
                        <textarea class="form-control" v-model="product.description" rows="4" placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="items-tab">
            <table id="itemsTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Alias</th>
                        <th>Color</th>
                        <th>Size</th>
                        <th>Inv Qty</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#itemModal">Add</button>
        </div>
    </div>

</div>

<!-- Upload Modal START-->
<div class="modal fade" id="uploadModal" aria-labelledby="uploadModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!-- Modal Content START-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Upload Image</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <fieldset>
                    <form novalidate="novalidate" class="dropzone" id="mydropzone" action="/api/product/upload"></form>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="submit" id="uploadBtn" class="btn btn-primary" disabled>
                    <i class="fa fa-upload"></i>
                    Upload
                </button>
            </div>
        </div>
        <!-- Modal Content END-->
    </div>
</div>
<!-- Upload Modal END-->
<!-- Items Modal END-->
<div class="modal fade" id="itemModal" aria-labelledby="itemModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Product Items</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-row">
                        @*<div class="col-xs-12 col-md-4 d-flex flex-wrap align-content-center img_center">
                            <div v-if="isNew">
                                <h6 class="text-center align-middle">Save to Upload Image</h6>
                            </div>
                            <div v-else>
                                <img class="rounded img-fluid pointer" data-toggle="modal" data-target="#uploadModal"
                                     v-bind:src="product.imageUrl" v-bind:alt="product.productName" />
                            </div>
                        </div>*@
                        <div class="col-md-6">
                            <label for="sku">SKU</label>
                            <input type="text" class="form-control" v-model="item.sku" placeholder="SKU" required>
                        </div>
                        <div class="col-md-6">
                            <label for="alias">Alias</label>
                            <input type="text" class="form-control" v-model="item.alias" placeholder="Alias">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4">
                            <label for="color">Color</label>
                            <input type="text" class="form-control" v-model="item.color" placeholder="Color">
                        </div>
                        <div class="col-md-4">
                            <label for="size">Size</label>
                            <input type="text" class="form-control" v-model="item.size" placeholder="Size">
                        </div>
                        <div class="col-md-4">
                            <label for="invQty">InvQty</label>
                            <input type="number" class="form-control" v-model="item.invQty" min="0">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="itemSave">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Items Modal END-->
@section Scripts{
<partial name="Script" model='"admin/product/save"' />
}