<div id="app">

    <div class="card-columns">
        <div class="card w-75" v-for="item in items">
            <itembox :item="item"></itembox>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="Script" model='"index"' />
}