using SyncSoft.ECP.Enums.User.UserStatusEnum

<div id="app">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Admin</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page" v-text="title"></li>
        </ol>
    </nav>

    <form onsubmit="return saveVM.save();">
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-md-10">
                <input type="email" class="form-control" v-model="user.email" placeholder="Email" v-bind:readonly="!isNew" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-md-10">
                <input type="text" class="form-control" v-model="user.username" placeholder="Username" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-md-10">
                <input type="text" class="form-control" v-model="user.phone" placeholder="Phone">
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label">Status</label>
            <div class="col-md-4">
                <input type="text" class="form-control" v-model="user.status">
                @*<select class="form-control" v-model="options">
                    <option></option>
                </select>*@
            </div>
        </div>
        <div class="form-group row">
            <label for="roles" class="col-sm-2 col-form-label">Roles</label>
            <div class="col-md-4">
                <input type="text" class="form-control" v-model="user.roles">
            </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Save</button>
    </form>
</div>


@section Scripts{
<partial name="Script" model='"admin/user/save"' />
}